/.bundle/
/Gemfile.lock
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
deps.png
deps.dot
deps.html
deps.json
deps.graphml
index.html
cpp_dependency_graph.callgrind.out*
